.photographers__title {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .photographers__title {
        max-width: 600px;
    }
}